body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff6f00;
}

td {
  border:     2px solid black;
  width:      1em;
  text-align: center;

  background-color: rgb(94, 135, 32);
  color: greenyellow;
}
